.newobjects{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.newobjects button{
    border: none;
    text-decoration: none;
    border: solid 1px lightgray;
    background-color: lightgray;
    transition: 0.5s;
    border-radius: 10px;
}
.newobjects:hover button{
    background-color: white;
    border: solid 1px white;
    transition: 0.5s;
}
.newobjects-link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.newobjects_button_style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-image: url("./img/plus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}